<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>添加栏目</title>
    <link rel="stylesheet" href="__ADMIN__/vendor/layui/css/layui.css">
    <link rel="stylesheet" href="__ADMIN__/custom/css/style.css">
</head>
<style>
    .img_wrap{
        position: relative;
        display: inline-block;
    }
    .img_wrap img{
        margin-top: 8px;
        border:1px solid #ddd;
        padding: 3px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }
    .img_wrap .del_img {
        position: absolute;
        top: 12px;
        right: 4px;
    }

</style>
<body style="padding:0 10px 45px 10px;margin-bottom:50px;">
<div>
    <form id="addForm" class="layui-form" action="?" method="post">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">基本设置</li>
                <li>扩展设置</li>
                <li>内容设置</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show layui-anim layui-anim-upbit">
                    <div class="layui-form-item">
                        <label class="layui-form-label">上级栏目</label>
                        <div class="layui-input-inline">
                            <select name="pid" lay-verify="required">
                                <option value="0">顶级栏目</option>
                                {volist name="cate" id="vo"}
                                <option value="{$vo.id}">{$vo.name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" >栏目名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" required placeholder="请输入栏目名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" >栏目排序</label>
                        <div class="layui-input-inline">
                            <input type="text" value="100" name="sort" placeholder="请输入栏目排序" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item layui-anim layui-anim-upbit">
                    <div class="layui-form-item">
                        <label class="layui-form-label" >栏目图片</label>
                        <div class="layui-input-block">
                            <input type="text" name="pic" placeholder="请输入栏目图片" autocomplete="off" class="layui-input">
                            <div id="column_img">
                                <button type="button" class="layui-btn" id="upload_img">
                                    <i class="layui-icon">&#xe67c;</i>上传栏目图片
                                </button>
                            </div>
                            <span class="img_wrap">
                                <img src="http://hiphotos.baidu.com/news/crop%3D0%2C30%2C816%2C548%3Bq%3D80%3B/sign=f7ca0b36ac8b87d6440df15f3a38040b/38dbb6fd5266d0164df2272f9a2bd40734fa35c9.jpg" alt="" height="80px">
                                <button class="layui-btn  layui-btn-mini layui-btn-danger del_img">
                                    <i class="layui-icon">&#xe640;</i>
                                </button>
                            </span>

                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" >关键字</label>
                        <div class="layui-input-block">
                            <input type="text" name="keyword" placeholder="请输入关键字" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" >描述</label>
                        <div class="layui-input-block">
                            <textarea name="description" placeholder="请输入描述" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" >摘要</label>
                        <div class="layui-input-block">
                            <textarea name="remark" placeholder="请输入摘要" class="layui-textarea"></textarea>
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item layui-anim layui-anim-upbit">
                    <div class="layui-form-item">
                        <label class="layui-form-label" >内容</label>
                        <div class="layui-input-block">
                            <div id="content" name="content" type="text/plain" style="height: 260px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label" ></label>
            <div class="">
                <button class="layui-btn" lay-submit lay-filter="formDemo" style="margin-left: 8px">添加</button>
            </div>
        </div>
    </form>
</div>
<script src="__ADMIN__/vendor/js/jquery.js"></script>
<script src="__ADMIN__/vendor/layui/layui.js"></script>
<script src="__ADMIN__/custom/js/admin.js"></script>
<!-- 配置文件 -->
<script type="text/javascript" src="__ADMIN__/vendor/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__ADMIN__/vendor/ueditor/ueditor.all.js"></script>
<script>
    var ue = UE.getEditor('content');
    //前端表单验证
    layui.use(['form','layer','element','upload'], function() {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer;
        var element = layui.element;
        var upload = layui.upload;
        //自定义验证规则
        form.verify({

    });
        //执行上传
        var uploadInst = upload.render({
            elem: '#upload_img' //绑定元素
            ,url: '{:url("category/uploadimg")}' //上传接口
            ,accept: 'images'
            ,field: 'imgfile'
            ,size: 2048
            ,before: function () {
                var index = layer.load();
            }
            ,done: function(res){
                //上传完毕回调
                layer.closeAll('loading',{isOutAnim:true}); //关闭加载层
                setTimeout(function () {
                    layer.msg('上传成功');
                },500);
            }
            ,error: function(){
                //请求异常回调
            }
        });
        //异步提交
        // form.on('submit(formDemo)', function () {
        //     $.ajax({
        //         type : "POST",
        //         data : $("#addForm").serialize(),
        //         url : "{:url('manager/add')}",
        //         dataType : "json",
        //         success : function(data){
        //             if(data.status === 1){
        //                 alert(data.message);
        //                 window.location.href = "{:url('Manager/add')}";
        //             }else{
        //                 alert(data.message);
        //                 window.location.href = "{:url('Manager/add')}";
        //             }
        //         }
        //     })
        // });
    });

    $(function () {
        $(window.parent.document).find("#righttitle").text($("title").text());
    })
</script>
</body>
</html>