<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>修改密码</title>
    <link rel="stylesheet" href="__ADMIN__/vendor/layui/css/layui.css">
    <link rel="stylesheet" href="__ADMIN__/custom/css/style.css">
</head>
<body style="padding:0 10px;margin-bottom:50px;">
<div style="padding-top: 20px;">
    <form id="addForm" class="layui-form" action="?" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">账号：</label>
            <div class="layui-input-inline">
                <input type="text" name="account" disabled placeholder="账号不允许修改" autocomplete="off" class="layui-input" value="{$admin}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >旧密码：</label>
            <div class="layui-input-inline">
                <input type="text" name="oldpassword"  placeholder="请输入旧密码" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码：</label>
            <div class="layui-input-inline">
                <input type="password" id="password" name="password" lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码：</label>
            <div class="layui-input-inline">
                <input type="password" id="repassword" name="repassword" lay-verify="required" placeholder="请确认密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">确定</button>
            </div>
        </div>
    </form>
</div>
<script src="__ADMIN__/vendor/js/jquery.js"></script>
<script src="__ADMIN__/vendor/layui/layui.js"></script>
<script src="__ADMIN__/custom/js/admin.js"></script>
<script>
    //前端表单验证
    layui.use(['form','layer'], function() {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer;

        //自定义验证规则
        form.verify({
             password: [/(.+){6,12}$/, '密码必须6到12位']
            , repassword: function (value) {
                if ($('#password').val() !== $('#repassword').val()) {
                    return '两次密码不一致';
                }
            }
        });
    });

    $(function () {
        $(window.parent.document).find("#righttitle").text($("title").text());
    })
</script>
</body>
</html>